<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/Home.css" />
		<link rel="stylesheet" href="../css/headert.css" />
		<link rel="stylesheet" href="../img/font/iconfont.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/jquery.cookies.2.2.0.js"></script>
		<script type="text/javascript" src="../js/bootstrap.js"></script>
		<script type="text/javascript" src="../js/canvas-particle.js"></script>
	</head>

	<body>
		<div class="header">
			<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 header_left col-lg-offset-2 col-md-offset-1">
				<img src="../img/logoTwo.png" />
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6 header_right col-lg-offset-3 col-md-offset-2 col-sm-offset-4">
				<ul class="PC_header">
					<li class="">
						<a href="">首页</a>
					</li>
					<li class="">
						<a href="">交易中心</a>
					</li>
					<li class="">
						<a href="">财务中心</a>
					</li>
					<li class="">
						<a href="">安全中心</a>
					</li>
					<li class="">
						<a href="">新闻公告</a>
					</li>
					<li class="">
						<a href="">账户名称</a>
					</li>
					<li class="">
						<a href="">退出</a>
					</li>
				</ul>
				<div class="IP_header iconfont icon-caidan"></div>
			</div>
		</div>
		<div class="Fin_banner">
			<img src="../img/banner.jpg" class="finBanner" />
			<div class="Fin_User col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
				<h1>账户名称</h1>
				<span>UID:124555</span>
				<span>上次登录时间:2011/02/12</span>
			</div>
		</div>
		<div class="rech_body">
			<div class="nav_left col-lg-1 col-md-2 col-sm-3 col-lg-offset-2 col-md-offset-1">
				<ul>
					<li>
						<a class="active">财务中心</a>
					</li>
					<li>
						<a>美元充值</a>
					</li>
					<li>
						<a>美元提现</a>
					</li>
					<li>
						<a>转入虚拟币</a>
					</li>
					<li>
						<a>转出虚拟币</a>
					</li>
					<li>
						<a>委托管理</a>
					</li>
					<li>
						<a>成交查询</a>
					</li>
				</ul>
			</div>
			<div class="Fin_Cont col-lg-7 col-md-7 col-sm-7 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
				<!--
                	作者：fleeusa@163.com
                	时间：2017-12-06
                	描述：充值提醒
                -->
				<div class="rech_ContHead">
					<div class="rech_fileds">
						<div class="rech_filedsTitle">
							<span></span>充值提醒
						</div>
						<p>抱歉，当前账户暂时未绑定银行卡，请添加银行卡后进行充值。</p>
						<a href="" class="rech_filedsHref">添加银行卡</a>
					</div>
					<div class="rech_Bank">
						<h1>请选择充值银行卡</h1>
						<div class="rech_BankRadio">
							<label name="lab"><input type="radio" name="lab" />中国工商银行 6212 **** **** 6005</label>
							<label name="lab"><input type="radio" name="lab" />中国工商银行 6212 **** **** 6005</label>
							<label name="lab"><input type="radio" name="lab" />中国工商银行 6212 **** **** 6005</label>
							<label name="lab"><input type="radio" name="lab" />中国工商银行 6212 **** **** 6005</label>
							<label name="lab"><input type="radio" name="lab" />中国工商银行 6212 **** **** 6005</label>
							<label name="lab"><input type="radio" name="lab" />中国工商银行 6212 **** **** 6005</label>
						</div>
						<a href="" class="rech_BankHref">添加银行卡</a>
						<br />
						<a href="" class="rech_BankHref2">下一步</a>
					</div>
				</div>
				<div class="table-responsive">
					<h1>充值记录</h1>
					<table class="table">
						<thead>
							<tr>
								<th>充值ID</th>
								<th>时间</th>
								<th>金额</th>
								<th>实际到账</th>
								<th>充值方式</th>
								<th>转账备注</th>
								<th><select>
									<option>状态</option>
									<option>状态</option>
									<option>状态</option>
								</select></th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>人人币(RRC)</td>
								<td>0.424</td>
								<td>1023122</td>
								<td>222121</td>
								<td>112355</td>
								<td>45515(￥)</td>
								<td>45515(￥)</td>
								<td>
									<a href="">充币</a> |
									<a href="">提币</a>
								</td>
							</tr>
							<tr>
								<td>人人币(RRC)</td>
								<td>0.424</td>
								<td>1023122</td>
								<td>222121</td>
								<td>112355</td>
								<td>45515(￥)</td>
								<td>45515(￥)</td>
								<td>
									<a href="">充币</a> |
									<a href="">提币</a>
								</td>
							</tr>
							<tr>
								<td>人人币(RRC)</td>
								<td>0.424</td>
								<td>1023122</td>
								<td>222121</td>
								<td>112355</td>
								<td>45515(￥)</td>
								<td>45515(￥)</td>
								<td>
									<a href="">充币</a> |
									<a href="">提币</a>
								</td>
							</tr>
							<tr>
								<td>人人币(RRC)</td>
								<td>0.424</td>
								<td>1023122</td>
								<td>222121</td>
								<td>112355</td>
								<td>45515(￥)</td>
								<td>45515(￥)</td>
								<td>
									<a href="">充币</a> |
									<a href="">提币</a>
								</td>
							</tr>
							<tr>
								<td>人人币(RRC)</td>
								<td>0.424</td>
								<td>1023122</td>
								<td>222121</td>
								<td>112355</td>
								<td>45515(￥)</td>
								<td>45515(￥)</td>
								<td>
									<a href="">充币</a> |
									<a href="">提币</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="footer" style="padding: 0px;">
			<div class="contact_us">
				<div class="contact_us_text0" style="text-align: center;font-size:13px">
					<label>{$Think.lang.客服}:</label>
					<p><span>{$Think.lang.微信1}：</span>17135511224</p>
					<p><span>{$Think.lang.微信2}：</span>17135511184</p>
				</div>
			</div>
		</div>
	</body>
	<script>
		/*控制中英文切换*/
		if($.cookies.get('think_language')) {
			$("#lang_ZhEn option").each(function() {
				if($(this).val() === $.cookies.get('think_language')) {
					$(this).attr('selected', 'selected');
				}
			});
		} else {

		}

		$('#lang_ZhEn').change(function() {
			$.cookies.set('think_language', $('#lang_ZhEn option:selected').val(), {
				hoursToLive: 168
			})
			location.replace(location.href);
			//alert($.cookies.get('lang'))
		})
	</script>

</html>